<template>
	<div class="row">
		<div class="col-12">
			<h4>Add New Post</h4>
		</div>
		<div class="col-lg-12 col-md-12">
			<form id="new_post" action="learn-vue/public/add-post/store"  method="post" enctype="multipart/form-data">
				
				<div class="form-group">
					<label for="title">Title</label>
					<input id="title" v-model="title" type="text"   class="form-control">
				</div>
				<div class="form-group">
					<label for="desc">Desc</label>
					<textarea id="desc" v-model="desc"  placeholder="add multiple lines" class="form-control"></textarea>
				</div>
				<div class="form-group">
					<label for="p_date">Published Date</label>
					<input id="p_date" type="date" v-model="published" placeholder="dd-mm-Y" class="form-control">
				</div>
				<div class="form-group">
					<input type="submit" value="Submit" id="submit" class="btn btn-success btn-md" @click.prevent="CustomerDataSave()">
				</div>
			</form>

		</div>
		<div class="col-md-4 mb-3" v-for="post in posts">
           <div class="card">
               <div class="card-header">
                   <a href="" class="float-left">{{post.title}}</a>
                   <a :href="'post/edit/'+post.id" class="float-right">edit</a>
               </div>
               <div class="card-body">
                   <p>
                    {{post.desc}}
                   </p>
                   <a href="#">Read More</a>
               </div>
           </div>
        </div>
	</div>

</template>


<script>
    /*export default {
        mounted() {
            console.log('Component mounted.')
        }
    }*/
    export default{
    data(){
        return{
            posts:{},
            title:'',
			desc:'',
			published:''

            
        }
    },
    mounted(){
    	console.log('Component Mounted');
        this.getData();

        //for posts
         axios.get('posts/',this.$data)
             .then((response)=> this.posts = response.data)
             .catch((error)=> this.errors = error.response.data.errors);
    },
    methods:{
    	CustomerDataSave(){
    		console.log('Submit Button Clicked');
    		axios.post('add-post/store',{
				title: this.title,
				desc: this.desc,
				published: this.published,
				

			})
			.then(function(response){
				console.log(response,'then');
				location.reload();
				
			})
			.catch(function (error){
				console.log(error,'error');
			});
    	},
    	getData(){},
    }
  }
</script>