<template>
     <div id="example-1" class="col-12">
        <div class="row">
        <div class="col-md-4 mb-3" v-for="post in posts">
           <div class="card">
               <div class="card-header">
                   <a href="">{{post.title}}</a>
               </div>
               <div class="card-body">
                   <p>
                    {{post.desc}}
                   </p>
                   <a href="#">Read More</a>
                   
                  

               </div>
           </div>
        </div>
      </div>
      </div>
</template>

<script>
    /*export default {
        mounted() {
            console.log('Component mounted.')
        }
    }*/
    export default{
    data(){
        return{
            posts:{},
            
        }
    },
    mounted(){
        axios.get('posts/',this.$data)
             .then((response)=> this.posts = response.data)
             .catch((error)=> this.errors = error.response.data.errors);
    },
  }
</script>
